{% extends "base.html" %} {% block content %}
<header>
    <h1>GitHub <span style="font-weight: 500">User Search</span></h1>
</header>

<main>
    <div style="height: 30px">
        <p>Look up a user's profile information using GitHub's Search API.</p>
    </div>

    <form method="GET" action="get_user">
        <label>github.com/</label>
        <input name="username" placeholder="username" />
        <button type="submit">Find</button>
    </form>
</main>
<footer>[ <a href="https://github.com/">GitHub </a> | <a href="https://docs.github.com/en/rest/search"> Search API</a> ]</footer>

{% endblock %}
